<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.pingfang.dao.systemManage.PermissionsDao">
	
	<!-- 获取所有权限 -->
   <select id="getListPermissions"  resultType="net.pingfang.entity.systemManage.PermissionsVo">
	    SELECT 
	    	p.id,
	    	p.parentId,
	    	p.name,
	    	p.type,
	    	p.menu_id	AS "menuId",
	    	p.url,
	    	p.remarks,
	    	m.name	AS  "menuName"
	    FROM t_permissions p
	    LEFT JOIN t_menu m ON p.menu_id = m.id
	</select>
	
	<!-- 根据角色获取相应权限数据  -->
   <select id="getPermissionsListByRole"  resultType="net.pingfang.entity.systemManage.PermissionsVo">
	    SELECT 
			p.id,
	    	p.parentId, 
	    	p.name,
	    	p.url,
	    	COUNT(p.id)
		FROM t_role_menu rm
		LEFT JOIN t_permissions p ON rm.permissions_id = p.id
		WHERE rm.role_id IN 
		<foreach collection="list" item="item" open="(" separator="," close=")">
	       #{item.id}
      	</foreach>
		GROUP BY p.id
	</select>
	
	<!-- 新增权限 -->
   <insert id="addPermissions" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="net.pingfang.entity.systemManage.PermissionsVo">
   		INSERT INTO t_permissions 
		(  
			parentId,
	    	name,
	    	type,
	    	menu_id,
	    	url,
	    	remarks
		)VALUES(
			#{parentId},
			#{name},
			#{type},
			#{menuId},
			#{url},	 
			#{remarks}
		)
   </insert>
   <!-- 更新权限 -->
   <update id="updatePermissions" parameterType="net.pingfang.entity.systemManage.PermissionsVo">
   		UPDATE t_permissions
		SET
				parentId = #{parentId}
	    		,name = #{name}
	    	<if test="null !=url">
	    		,url = #{url}
	    	</if>
	    	<if test="null !=type">
	    		,type = #{type}
	    	</if>
	    	<if test="null !=menuId and menuId >0">
	    		,menu_id = #{menuId}
	    	</if>
	    	<if test="null !=remarks">
	    		,remarks = #{remarks}
	    	</if>
		WHERE id = #{id}
   </update>
   <!--  删除权限 -->
    <delete id="deletePermissions">
   		DELETE FROM t_permissions WHERE id = #{id} AND id >1
   </delete>
   
   <!-- 获取权限最小的ID -->
   <select id="getMinPermissionsId"  resultType="int">
	    SELECT MIN(id) FROM t_permissions
	</select>
	
	<!-- 根据菜单ID查询权限数据  -->
   <select id="getCountPermissionsByMeuId"  resultType="int" parameterType="int">
	    SELECT  COUNT(id) FROM t_permissions WHERE menu_id = #{meuId}
	</select>

</mapper>