<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="net.pingfang.dao.workRecord.WorkRecordManualDao">

	
   <!-- 插入一条作业记录 -->
   <insert id="insertWorkRecordManual" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="net.pingfang.entity.work.WorkRecordManualVo">
   		INSERT INTO work_record_manual 
		(     
		  seq_no, 
		  crane_num,
		  vessel_name_cn,
		  vessel_voyage_number,
		  vessel_code,
		  work_type,
		  contaid,
		  passtime,
		  operation_desc,
		  tally_clerk
		)VALUES(
		  #{seqNo}, 
		  #{craneNum},
		  #{vesselNameCn},
		  #{vesselNumber},
		  #{vesselCode},
		  #{workType},
		  #{contaid},
		  #{passTime},
		  #{desc},
		  #{tallyClerk}	  
		)   	
   </insert>
   
   
    <!-- 查询作业记录是否存在 -->
   <select id="getWrmExists" parameterType="net.pingfang.entity.work.WorkRecordManualVo" resultType="int">   		
	  SELECT COUNT(id) FROM work_record_manual
	    WHERE  
	    	seq_no = #{seqNo}
	    AND contaid = #{contaid}
   </select>
   
   <!-- 更新一条作业记录 -->
   <update id="updateWorkRecordManual" parameterType="net.pingfang.entity.work.WorkRecordManualVo">   		
	  UPDATE work_record_manual
         SET
         	operation_desc = #{desc}
	    WHERE  
	    	seq_no = #{seqNo}
	    AND contaid = #{contaid}
   </update>
   
   <!-- 获取所有记录总数
   <select id="getCountWorkRecord" parameterType="net.pingfang.entity.work.WorkRecordManualVo" resultType="int">   		
	  SELECT COUNT(id) FROM work_record 
	  WHERE 1 = 1
	  <if test="null !=craneNum and ''!=craneNum">
	  		AND crane_num = #{craneNum}
	  </if>
	  <if test="null !=vesselNumber and ''!=vesselNumber">
	  		AND vessel_voyage_number = #{vesselNumber}
	  </if>
	  <if test="null !=passTime and ''!=passTime and null !=createTime and ''!=createTime">
	  		AND passtime BETWEEN #{passTime} AND #{createTime}
	  </if> 
   </select>
   --> 
   <!-- 获取所有更新过的车顶号记录总数 
   <select id="getCountUpdateTopPlate" parameterType="net.pingfang.entity.work.WorkRecordManualVo" resultType="int">   		
	  SELECT COUNT(id) FROM work_record 
	   WHERE 1 = 1
	  <if test="null !=craneNum and ''!=craneNum">
	  		AND crane_num = #{craneNum}
	  </if>
	  <if test="null !=vesselNumber and ''!=vesselNumber">
	  		AND vessel_voyage_number = #{vesselNumber}
	  </if>
	  		AND update_top_plate_count = 1
	  <if test="null !=passTime and ''!=passTime and null !=createTime and ''!=createTime">
	  		AND passtime BETWEEN #{passTime} AND #{createTime}
	  </if> 
   </select>
  --> 
   <!-- 获取所有更新过的箱号记录总数 
   <select id="getCountUpdateContaid" parameterType="net.pingfang.entity.work.WorkRecordManualVo" resultType="int">   		
	  SELECT COUNT(id) FROM work_record 
	   WHERE 1 = 1
	  <if test="null !=craneNum and ''!=craneNum">
	  		AND crane_num = #{craneNum}
	  </if>
	  <if test="null !=vesselNumber and ''!=vesselNumber">
	  		AND vessel_voyage_number = #{vesselNumber}
	  </if>
	  	AND update_contaid_count = 1
	  <if test="null !=passTime and ''!=passTime and null !=createTime and ''!=createTime">
	  		AND passtime BETWEEN #{passTime} AND #{createTime}
	  </if> 
   </select>
  --> 
   <!-- 获取所有更新过的bayInfo记录总数
   <select id="getCountUpdateBay" parameterType="net.pingfang.entity.work.WorkRecordManualVo" resultType="int">   		
	  SELECT COUNT(id) FROM work_record 
	   WHERE 1 = 1
	  <if test="null !=craneNum and ''!=craneNum">
	  		AND crane_num = #{craneNum}
	  </if>
	  <if test="null !=vesselNumber and ''!=vesselNumber">
	  		AND vessel_voyage_number = #{vesselNumber}
	  </if>
	  	AND update_bay_count = 1
	  <if test="null !=passTime and ''!=passTime and null !=createTime and ''!=createTime">
	  		AND passtime BETWEEN #{passTime} AND #{createTime}
	  </if> 
   </select>
    -->
    <!-- 获取所有自动理货记录总数 
   <select id="getCountAutoRecord" parameterType="net.pingfang.entity.work.WorkRecordManualVo" resultType="int">   		
	  SELECT COUNT(id) FROM work_record 
	   WHERE 1 = 1
	  <if test="null !=craneNum and ''!=craneNum">
	  		AND crane_num = #{craneNum}
	  </if>
	  <if test="null !=vesselNumber and ''!=vesselNumber">
	  		AND vessel_voyage_number = #{vesselNumber}
	  </if>
	  	AND tally_clerk = 'Auto'
	  <if test="null !=passTime and ''!=passTime and null !=createTime and ''!=createTime">
	  		AND passtime BETWEEN #{passTime} AND #{createTime}
	  </if> 
   </select>
   -->
   <!-- 获取所有自动理货记录总数 -->
   <select id="identificationRateStatistics" resultType="net.pingfang.entity.work.WorkRecordManualVo">   		
	  	<foreach collection="list" item="emp" separator="UNION ALL">
	  		SELECT
				 COUNT(id) AS 'total',
				 SUM(update_top_plate_count = 1) AS 'countTopPlate',
				 SUM(update_contaid_count = 1) AS 'countContaid',
				 SUM(update_bay_count = 1)  AS 'countBay',
				 SUM(tally_clerk = 'Auto')  AS 'countAutoRecord'
			FROM work_record WHERE crane_num = #{emp}
			<if test="null !=wrm.passTime and ''!=wrm.passTime and null !=wrm.createTime and ''!=wrm.createTime">
		  		 AND passtime BETWEEN #{wrm.passTime} AND #{wrm.createTime}
		    </if> 
	  	</foreach>
   </select>
   <!-- 获取所有自动理货记录总数 -->
   <select id="identificationRateStatisticsTwo" parameterType="net.pingfang.entity.work.WorkRecordManualVo" resultType="net.pingfang.entity.work.WorkRecordManualVo">   		
	  		SELECT
				 COUNT(id) AS 'total',
				 SUM(update_top_plate_count = 1) AS 'countTopPlate',
				 SUM(update_contaid_count = 1) AS 'countContaid',
				 SUM(update_bay_count = 1)  AS 'countBay',
				 SUM(tally_clerk = 'Auto')  AS 'countAutoRecord'
			FROM work_record 
			WHERE vessel_voyage_number = #{vesselNumber}
			<if test="null !=passTime and ''!=passTime and null !=createTime and ''!=createTime">
		  		 AND passtime BETWEEN #{passTime} AND #{createTime}
		    </if> 
   </select>
  
   
</mapper>