<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.pingfang.dao.huangPu.WorkSwitchDao">

  <!-- 获取门机配制 -->
   <select id="getAllMjPreparationList" resultType="CranePreparationVo">
   		SELECT 
   			cp.id,
	  		cp.vessel_name_en 			AS 'vesselNameEn',	
		  	cp.vessel_name_cn  			AS 'vesselNameCn', 	
		  	cp.crane_num 				AS 'craneNum',	
		  	cp.vessel_code				AS 'vesselCode',
		  	cp.vessel_voyage_number		AS 'vesselNumber',
		  	cp.camera_id				AS 'cameraId',
		  	cp.bay,
		  	cp.alongside,
		  	cp.activity,
		  	cp.in_voyage				AS 'inVoyage',
		  	cp.out_voyage				AS 'outVoyage',
		  	cp.work_type				AS 'workType'
	    FROM Crane_Preparation cp
	    WHERE type = '2'
	    ORDER BY cp.crane_num 
   </select>
   
   <!-- 获取门机配制 -->
   <select id="getHpCranePreparationByCraneNum" resultType="CranePreparationVo">
   		SELECT 
   			id,
	  		vessel_name_en 			AS 'vesselNameEn',	
		  	vessel_name_cn  		AS 'vesselNameCn', 	
		  	crane_num 				AS 'craneNum',	
		  	vessel_code				AS 'vesselCode',
		  	vessel_voyage_number	AS 'vesselNumber',
		  	bay,
		  	alongside,
		  	camera_id				AS 'cameraId',
		  	activity,
		  	work_type				AS 'workType'
	    FROM Crane_Preparation
	    WHERE type = '2'
	    AND crane_num = #{craneNum}
	    LIMIT 0,1
   </select>
   
   <!-- 更新门机配制 -->
   <update id="updateHpCranePreparation" parameterType="CranePreparationVo">
   		UPDATE Crane_Preparation
		SET
			vessel_name_cn = #{vesselNameCn},      
			vessel_name_en = #{vesselNameEn}, 
			vessel_code = #{vesselCode},
			vessel_voyage_number = #{vesselNumber},
			bay = #{bay},
			alongside = #{alongside},
			camera_id = #{cameraId},
			in_voyage = out_voyage,
			out_voyage = #{outVoyage},
			work_type = #{workType}
		WHERE id = #{id}
   </update>
    <!-- 更新门机配制开始或停止作业 -->
   <update id="updateActivity" parameterType="CranePreparationVo">
   		UPDATE Crane_Preparation
		SET
			activity = #{activity}
		WHERE crane_num = #{craneNum}
   </update>
   
   <!-- 新增门机配制 -->
   <insert id="addHpCranePreparation" parameterType="CranePreparationVo">
   		INSERT INTO Crane_Preparation 
		(
		  vessel_name_cn,      
		  vessel_name_en, 
		  vessel_code,
		  vessel_voyage_number,
		  crane_num,
		  type,
		  bay,
		  alongside,
		  camera_id,
		  in_voyage,
		  out_voyage,
		  work_type
		)
		VALUES  
		(
			#{vesselNameCn},      
			#{vesselNameEn}, 
			#{vesselCode},
			#{vesselNumber},
			#{craneNum},
			'2',
			#{bay},
			#{alongside},
			#{cameraId},
			#{inVoyage},
			#{outVoyage},
			#{workType}
		)
   </insert>
   
   <!-- 新增门机配制 -->
   <insert id="addHpCranePreparationList" parameterType="java.util.ArrayList">
   		INSERT INTO Crane_Preparation 
		(
		  vessel_name_cn,      
		  vessel_name_en, 
		  vessel_code,
		  vessel_voyage_number,
		  crane_num,
		  type,
		  bay,
		  alongside,
		  camera_id,
		  in_voyage,
		  out_voyage,
		  work_type
		)
		VALUES 
		<foreach collection="list" item="emp" separator=",">
		(
			#{emp.vesselNameCn},      
			#{emp.vesselNameEn}, 
			#{emp.vesselCode},
			#{emp.vesselNumber},
			#{emp.craneNum},
			#{emp.type},
			#{emp.bay},
			#{emp.alongside},
			#{emp.cameraId},
			#{emp.inVoyage},
			#{emp.outVoyage},
			#{emp.workType}
		)
		</foreach>
   </insert>
   
   <!-- 删除门机配制数据 -->
	<delete id="deleteHpCranePreparation" parameterType="int">
		DELETE FROM Crane_Preparation WHERE id = #{id} AND type = '2'
	</delete>
   
	
</mapper>