<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.pingfang.dao.vessel.BerthPlanDao">
	<!--  获取所有泊位计划信息 -->
    <select id="getPageBerthPlanInfoList" resultType="net.pingfang.entity.vessel.BerthPlanInfoVo" parameterType="java.util.Map">
	 	SELECT 
			id,				
			vessel_code 			AS 'vesselCode',
			vessel_name_cn  		AS 'vesselNameCn', 
			vessel_name_en  		AS 'vesselNameEn',
			vessel_voyage_number 	AS 'vesselNumber',
			in_voyage				AS 'inVoyage',
			out_voyage				AS 'outVoyage',
			berth_name				AS 'berthName',
			vessel_type				AS 'vesselType',
			discharging_amount		AS 'dischargMount',
			loading_amount			AS 'loadMount',
			atb						AS 'aberthingTime',
			<!-- atd						AS 'adepartureTime', -->
			is_finished				AS 'isFinished',
			operator_code			AS 'operatorCode'
		FROM tos_berth_plan 
		WHERE 1 = 1
		<if test="null !=berthPlanInfo.vesselCode and ''!=berthPlanInfo.vesselCode">
	  		AND vessel_code = #{berthPlanInfo.vesselCode}
	  	</if> 
	  	<if test="null !=berthPlanInfo.inVoyage and ''!=berthPlanInfo.inVoyage">
	  		AND (UPPER(in_voyage) = UPPER(#{berthPlanInfo.inVoyage}) OR 
	  			 UPPER(out_voyage) = UPPER(#{berthPlanInfo.inVoyage}))
	  	</if>
	  	<if test="null !=berthPlanInfo.vesselNameCn and ''!=berthPlanInfo.vesselNameCn">
	  		AND (UPPER(vessel_name_cn) = UPPER(#{berthPlanInfo.vesselNameCn}) OR 
	  			 UPPER(vessel_name_en) = UPPER(#{berthPlanInfo.vesselNameCn}))
	  	</if>
	  	<if test="null !=berthPlanInfo.aberthingTime and ''!=berthPlanInfo.aberthingTime and null !=berthPlanInfo.adepartureTime and '' !=berthPlanInfo.adepartureTime">
	  		AND DATE_FORMAT(atb, '%Y-%m-%d') BETWEEN #{berthPlanInfo.aberthingTime} AND #{berthPlanInfo.adepartureTime}
	  	</if>
		LIMIT #{pageVo.startRow},#{pageVo.pageSize}
   </select> 
   <!-- 获取所有泊位计划信息记录总数 -->
    <select id="getCountBerthPlanInfo" resultType="int" parameterType="net.pingfang.entity.vessel.BerthPlanInfoVo">
   		SELECT COUNT(id) FROM tos_berth_plan
   		WHERE 1 = 1
		<if test="null !=vesselCode and ''!=vesselCode">
	  		AND vessel_code = #{vesselCode}
	  	</if> 
	  	<if test="null !=inVoyage and ''!=inVoyage">
	  		AND (UPPER(in_voyage) = UPPER(#{inVoyage}) OR 
	  			 UPPER(out_voyage) = UPPER(#{inVoyage}))
	  	</if>
	  	<if test="null !=vesselNameCn and ''!=vesselNameCn">
	  		AND (UPPER(vessel_name_cn) = UPPER(#{vesselNameCn}) OR 
	  			 UPPER(vessel_name_en) = UPPER(#{vesselNameCn}))
	  	</if>
	  	<if test="null !=aberthingTime and ''!=aberthingTime and null !=adepartureTime and '' !=adepartureTime">
	  		AND DATE_FORMAT(atb, '%Y-%m-%d') BETWEEN #{aberthingTime} AND #{adepartureTime}
	  	</if>
   </select> 
   
   
   
   <!-- 插入一条船舶信息 -->
   <insert id="insertBerthPlan" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="BerthPlanInfoVo">
   		INSERT INTO berth_plan 
		(   
			vessel_name_cn,
			vessel_name_en,
			vessel_number,
			vessel_code,
			in_voyage,
   			out_voyage,    
   			vessel_type,
   			vessel_status,
   			alongside,
   			atb,
   			atd,
   			tally_clerk
		)VALUES(
			#{vesselNameCn},	  
			#{vesselNameEn},	 
			#{vesselNumber},	
			#{vesselCode},	  
			#{inVoyage},	 
			#{outVoyage},	  
			#{vesselType},	 
			#{vesselStatus},	 
			#{alongside},	 
			#{etaTime},	 
			#{etbTime}
		)
   </insert>
   
   
   
   <!-- 根据ID获取一条泊位计划信息 
    <select id="getBerthPlanInfoById" resultType="net.pingfang.entity.vessel.BerthPlanInfoVo" parameterType="int">
   		SELECT 
   			 bp.vessel_name_cn  		AS 'vesselNameCn', 
   			 bp.vessel_name_en  		AS 'vesselNameEn',
			 bp.vessel_code 			AS 'vesselCode',
			 bp.vessel_voyage_number 	AS 'vesselNumber',
			 bp.operator_code			AS 'operatorCode',
			 bp.alongside				AS 'alongside',
			 bp.in_voyage				AS 'inVoyage',
			 bp.out_voyage				AS 'outVoyage',
			 bp.berth_name				AS 'berthName',
			 bp.vessel_type				AS 'vesselType',
			 bp.in_lane_code			AS 'inLaneCode',
			 bp.out_lane_code			AS 'outLaneCode',
			 bp.discharging_amount		AS 'dischargMount',
			 bp.loading_amount			AS 'loadMount',			 
			 bp.eta						AS 'earrivalTime',
			 bp.etd						AS 'edepartureTime',
			 bp.atb						AS 'aberthingTime',
			 bp.start_bitt				AS 'startBitt',
			 bp.end_bitt				AS 'endBitt',			 
			 bp.is_finished				AS 'isFinished',
			 (SELECT COUNT(vc.id) FROM tos_vessel_container vc WHERE vc.vessel_voyage_number = bp.vessel_voyage_number AND vc.container_status = 0 AND vc.job_type = 'DS') AS 'dsMount',
			 (SELECT COUNT(vc.id) FROM tos_vessel_container vc WHERE vc.vessel_voyage_number = bp.vessel_voyage_number AND vc.container_status = 0 AND vc.job_type = 'LD') AS 'ldMount' 
		FROM tos_berth_plan bp
   		WHERE id = #{id}
   </select> 
   -->
   <!-- 根据ID获取一条泊位计划信息 
    <select id="getBerthPlanInfoByVesselNumber" resultType="net.pingfang.entity.vessel.BerthPlanInfoVo">
   		SELECT 
			 vessel_voyage_number 	AS 'vesselNumber',
			 alongside,
			 in_voyage				AS 'inVoyage',
			 out_voyage				AS 'outVoyage'
		FROM tos_berth_plan
   		WHERE vessel_voyage_number = #{vesselNumber}
   </select> 
   -->
   <!-- 更新船舷方向 
   <update id="updateAlongside" parameterType="net.pingfang.entity.vessel.BerthPlanInfoVo">
   		UPDATE tos_berth_plan
		SET
			alongside = #{alongside}
		WHERE vessel_voyage_number = #{vesselNumber}
   </update>
  --> 
   <!--  Excel导出所有泊位计划信息 
    <select id="exportBerthPlanInfo" resultType="net.pingfang.entity.vessel.BerthPlanInfoVo" parameterType="net.pingfang.entity.vessel.BerthPlanInfoVo">
	 	SELECT 
			id,				
			vessel_code 			AS 'vesselCode',
			vessel_name_cn  		AS 'vesselNameCn', 
			vessel_name_en  		AS 'vesselNameEn',
			vessel_voyage_number 	AS 'vesselNumber',
			in_voyage				AS 'inVoyage',
			out_voyage				AS 'outVoyage',
			berth_name				AS 'berthName',
			vessel_type				AS 'vesselType',
			discharging_amount		AS 'dischargMount',
			loading_amount			AS 'loadMount',
			atb						AS 'aberthingTime',
			is_finished				AS 'isFinished',
			operator_code			AS 'operatorCode'
		FROM tos_berth_plan 
		WHERE 1 = 1
		<if test="null !=vesselCode and ''!=vesselCode">
	  		AND vessel_code = #{vesselCode}
	  	</if> 
	  	<if test="null !=inVoyage and ''!=inVoyage">
	  		AND (UPPER(in_voyage) = UPPER(#{inVoyage}) OR UPPER(out_voyage) = UPPER(#{inVoyage}))
	  	</if>
	  	<if test="null !=vesselNameCn and ''!=vesselNameCn">
	  		AND (UPPER(vessel_name_cn) = UPPER(#{vesselNameCn}) OR 
	  			 UPPER(vessel_name_en) = UPPER(#{vesselNameCn}))
	  	</if>
	  	<if test="null !=aberthingTime and ''!=aberthingTime and null !=adepartureTime and '' !=adepartureTime">
	  		AND DATE_FORMAT(atb, '%Y-%m-%d') BETWEEN #{aberthingTime} AND #{adepartureTime}
	  	</if>
   </select> 
   -->
   <!-- 获取船下拉列表框
   <select id="getBerthPlanListBox" resultType="net.pingfang.entity.vessel.BerthPlanInfoVo" parameterType="net.pingfang.entity.vessel.BerthPlanInfoVo">
	  SELECT 
	     	vessel_name_cn AS 'vesselNameCn',
		  	vessel_voyage_number AS 'vesselNumber'		    	 
	    FROM tos_berth_plan
	    WHERE 1 = 1
	  	<if test="null !=vesselNameCn and ''!=vesselNameCn">
	  		AND UPPER(vessel_name_cn) LIKE UPPER(CONCAT('%',#{vesselNameCn},'%'))
	  	</if> 	
	  	ORDER BY id DESC
	  	LIMIT 0,100
	</select>
	 -->
</mapper>