<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.pingfang.dao.vessel.VesselInfoDao">
	<!-- 分页获取所有船舶信息 -->
   <select id="getPageVesselInfoList" resultType="net.pingfang.entity.vessel.VesselInfoVo" parameterType="java.util.Map">
	 SELECT 
			id,
	  		vesselCode,  
		  	vesselNameCn,
		  	vesselNameEn,
		  	operatorCode
	 FROM  
	   ( 
	     	SELECT ROW_NUMBER() OVER (ORDER BY vi.id desc) AS RowNum,
			 vi.id              AS 'id',
			 vi.vessel_code     AS 'vesselCode',
			 vi.vessel_name_cn  AS 'vesselNameCn',
			 vi.vessel_name_en  AS 'vesselNameEn',
			 vi.operator_code   AS 'operatorCode'
			FROM vesselInfo vi
	    WHERE 1 = 1
	     ) AS t 
	 WHERE
	  <![CDATA[
	   	t.RowNum > #{pageVo.startRow} and t.RowNum <= #{pageVo.pageSize}
	   ]]>
	   
   </select>
   <!-- 获取所有船舶信息记录总数 -->
   <select id="getCountBerthPlanInfo" resultType="int" parameterType="net.pingfang.entity.vessel.VesselInfoVo">
   		SELECT COUNT(id) FROM vesselInfo
   		WHERE 1 = 1
   </select>
   <!-- 根据ID获取一条泊位计划信息 -->
   <select id="getVesselInfoById" resultType="net.pingfang.entity.vessel.VesselInfoVo" parameterType="int">
   		SELECT 
   			 id,
			 vessel_code     AS 'vesselCode',
			 vessel_name_cn  AS 'vesselNameCn',
			 vessel_name_en  AS 'vesselNameEn',
			 operator_code   AS 'operatorCode'
		FROM vesselInfo
   		WHERE id = #{id}
   </select>
   
   <!-- 插入一条船舶信息 -->
   <insert id="insertVesselInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="net.pingfang.entity.vessel.VesselInfoVo">
   		INSERT INTO vesselInfo 
		(   
			vessel_code,
			vessel_name_cn,
			vessel_name_en,
			operator_code,
			agent,			 	
			vessel_type,
			all_length,
			perpendiculars_length,
			vessel_width,
			imo,
			mmsi,
			call_sign,
			flag,
			bow_to_bridge,
			stern_to_bridge,
			gross_tonnage,
			net_tonnage,
			summer_draft,
			max_capacity,
			deck_max_row,
			deck_max_tier,
			hold_max_row,
			hold_max_tier,	    
			createtime                
		)VALUES(
			#{vesselCode},	  
			#{vesselNameCn},	 
			#{vesselNameEn},	  
			#{operatorCode},
			#{agent},			 	
			#{vesselType},
			#{allLength},
			#{perLength},
			#{vesselWidth},
			#{imo},
			#{mmsi},
			#{callSign},
			#{flag},
			#{bowBridge},
			#{sternBridge},
			#{grossTonnage},
			#{netTonnage},
			#{summerDraft},
			#{maxCapacity},
			#{deckMaxRow},
			#{deckMaxTier},
			#{holdMaxRow},
			#{holdMaxTier}, 			   
			CONVERT(varchar(19), GETDATE(), 20)
		)
   </insert>
   <!-- 更新一条船舶信息 -->
   <update id="updateVesselInfo" parameterType="net.pingfang.entity.vessel.VesselInfoVo">
   		UPDATE vesselInfo
		SET
			vessel_code = #{vesselCode},	  
			vessel_name_cn = #{vesselNameCn},	 
			vessel_name_en = #{vesselNameEn},	  
			operator_code = #{operatorCode},	  
			agent = #{agent}
		WHERE id = #{id}
   </update>
   <!--  删除一条船舶信息 -->
   <delete id="deleteVesselInfoById">
   		DELETE vesselInfo WHERE id = #{id}
   </delete>
   
	
</mapper>